
# Ignore VS Code settings
.vscode/

# Ignore build output
build/

# Ignore Python virtual environments
venv/

# Ignore JetBrains IDE files
.idea/

# Ignore workspace settings file
mhosein-engine.code-workspace

*.pyc

*.sh
*.o
*.a
*.so